<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>

    <meta charset="UTF-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'people', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">

  </head>
  <body class="container">
    <%= yield %>
  </body>
</html>